* {
  margin: 0;
  padding: 0;
  background-color: rgb(47, 47, 47);
}

.body-wrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 100px 0;
}

.slider-wrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slides {
  position: relative;
  width: 400%;
  max-height: 450px;
  display: flex;
}

input[name="meme"] {
  display: none;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.img {
  width: 100%;
  max-height: 430px;
  border-radius: 2%;
}

#meme1:checked ~ .slide1 {
  margin-left: 0;
}

#meme2:checked ~ .slide1 {
  margin-left: -25%;
}

#meme3:checked ~ .slide1 {
  margin-left: -50%;
}

#meme4:checked ~ .slide1 {
  margin-left: -75%;
}

label {
  transition: opacity 0.5s ease;
}

.meme-text {
  position: absolute;
  /* left: 20px; */
  bottom: -34px;
  opacity: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

.control {
  position: absolute;
  bottom: -30px;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(114, 114, 210);
  border-radius: 50%;
  margin: 6px;
  cursor: pointer;
  background-color: rgb(114, 114, 210);
  transition: all 0.4s ease;
}

.control1 {
  left: calc(25% - 79px);
}

.control2 {
  left: calc(25% - 59px);
}
.control3 {
  left: calc(25% - 39px);
}
.control4 {
  left: calc(25% - 19px);
}

.control:hover {
  background-color: white;
  border: 2px solid white;
}

#meme1:checked ~ .meme-text1,
#meme2:checked ~ .meme-text2,
#meme3:checked ~ .meme-text3,
#meme4:checked ~ .meme-text4 {
  opacity: 1;
}

#meme1:checked ~ .control1,
#meme2:checked ~ .control2,
#meme3:checked ~ .control3,
#meme4:checked ~ .control4 {
  background-color: rgb(47, 47, 47);
}

@media (max-width: 767.98px) {
  .body-wrapper {
    padding: 20px 30px;
  }

  .control {
    left: 11%;
    transform: translateX(50%);
  }

  .control1 {
    left: calc(11.5% - 30px);
  }

  .control2 {
    left: calc(11.5% - 10px);
  }
  .control3 {
    left: calc(11.5% + 10px);
  }
  .control4 {
    left: calc(11.5% + 30px);
  }

  .meme-text {
    font-size: 16px;
    bottom: -60px;
  }
}
